<div class="content">
  <mat-drawer-container class="example-container">
    <mat-drawer *ngIf="isAuthorized()"  mode="side" opened>
      <h2>{{ title }}</h2>
      <ul class="navbar-nav mr-auto row">
        <li class="nav-item active">
          <a class="nav-link waves-light" routerLink="/main" routerLinkActive="active">Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/blogs" routerLinkActive="active">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/logout" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

