<div>
  <h1>BIG LOGO</h1>
</div>
<div>
  <form class="au-form au-container">
    <mat-form-field>
      <label>
        <input matInput placeholder="Login" name="login" required="" [(ngModel)]="loginData.login">
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input type="password" matInput placeholder="Password" name="password" required="" [(ngModel)]="loginData.password">
      </label>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" (click)="authorize()">Log In</button>
      <button mat-raised-button color="secondary" (click)="register()">Register</button>
    </div>
  </form>
</div>
