<script src="../login/login.component.spec.ts"></script>
<div class="header">
  <img class="blog-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="user photo">
  <div class="blog-title-container inline">
    <h1>{{ blogData?.name }}</h1>
    <h3> {{ blogData?.info }}</h3>
  </div>
  <button class="inline" mat-raised-button color="primary" (click)="edit()">Edit</button>
</div>
<div class="scroll-list">
  <app-post *ngFor="let post of posts" [post]="post"></app-post>
</div>

<form #postForm="ngForm" (ngSubmit)="createPost(postForm)">
<mat-form-field>
  <label>
    <input class="form-control" name="title" ngModel  matInput placeholder="Title" required>
  </label>
</mat-form-field>

<mat-form-field>
  <label>
    <textarea name="postText" ngModel rows="3" matInput placeholder="Text" required></textarea>
  </label>
</mat-form-field>

<button [disabled]="postForm.invalid" (click)="createPost(postForm)" mat-raised-button color="accent" type="button">POST</button>
</form>



