<mat-card class="blog-card-content">
  <mat-card-header class="inline-block">
    <img mat-card-image src="{{ blog.imageUri }}" class="blog-icon" alt="Blog icon">
  </mat-card-header>
  <mat-card-title class="inline-block">{{ blog.name }}</mat-card-title>
  <mat-card-content class="blog-info-container">
    <p>{{ blog.info }}</p>
  </mat-card-content>
  <mat-card-actions class="inline-block">
    <button mat-raised-button color="primary">Read</button>
    <div *ngIf=!blog.isSubscribed class="inline-block">
      <button mat-raised-button color="accent">Subscribe</button>
    </div>
  </mat-card-actions>
</mat-card>
