.blog-card-content{
  max-height: 150px;
  margin: auto 50px auto 5px;
}

.blog-info-container {
  max-width: 500px;
}

.blog-card-header {
  max-height: 50%;
  max-width: 110px;
  margin: 0 0;
}

.blog-info {
  max-width: 300px;
  margin: 0 0;
}

.inline-block {
  display: inline-block;
}

.blog-icon {
  border-radius: 100px;
  border: solid black;
  box-shadow: 0 0 7px #666;
  max-height: 110px;
  max-width: 110px;
  float: left;
  margin: 0 auto;
}

.buttons {
  margin: auto 0 auto 25px;
}
