<mat-card class="post-card">
  <div class="card-container">
    <img class="post-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="user photo">
    <mat-card-header class="post-header inline">
      <mat-card-title class="inline">{{ post?.title }}</mat-card-title>
      <mat-card-subtitle class="inline">{{ post?.publishDateOnUtc | date }}</mat-card-subtitle>
      <button class="inline" mat-button color="warn">Remove</button>
    </mat-card-header>
    <mat-card-content>
      <p> {{ post?.text }}</p>
    </mat-card-content>
  </div>
  <mat-card-actions>
    <button [disabled]="post.likesData.alreadyRated" mat-button color="accent" (click)="setLike()">LIKE: {{ post.likesData.positiveLikes }}</button>
    <button [disabled]="post.likesData.alreadyRated" mat-button color="primary" (click)="setDislike()">DISLIKE: {{ post.likesData.negativeLikes }}</button>
  </mat-card-actions>
</mat-card>
