<mat-card class="post-card">
  <div class="card-container">
    <img class="post-image" mat-card-image src="{{ post.imageUri }}" alt="user photo">
    <mat-card-header class="inline">
      <mat-card-title class="inline">{{ post.title }}</mat-card-title>
      <mat-card-subtitle class="inline">{{ post.date | date }}</mat-card-subtitle>
      <button class="inline" mat-button color="warn">Remove</button>
    </mat-card-header>
    <mat-card-content>
      <p> {{ post.text }}</p>
    </mat-card-content>
  </div>
  <mat-card-actions>
    <button mat-button color="accent">LIKE: {{ post.likesAmount }}</button>
    <button mat-button color="primary">DISLIKE: {{ post.dislikesAmount }}</button>
  </mat-card-actions>
</mat-card>
